################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/COSE213_Assignment1/COSE213_Assignment1/x64/Debug
/COSE213_Assignment1/x64/Debug
